$blue: #0099CC;
$dark_grey: #333333;
$light_grey: #CCCCCC;
$white: #FFFFFF;
$black: #000000;
$green: #38C172;
$red: #E3342F;

$media-min-small: 0px;
$media-max-small: 480px;
$small-max-width: 95vw;

$media-min-medium: $media-max-small + 1;
$media-max-medium: 950px;
$medium-max-width: 95vw;

$media-min-large: $media-max-medium + 1;
$media-max-large: 1450px;
$large-max-width: 95vw;

$media-min-xlarge: $media-max-large + 1;
$xlarge-max-width: 1400px;


$text-opacity: 0.9;
$box-bg-opacity: 0.75;
