$blue: #0099CC;
$dark_grey: #333333;
$light_grey: #CCCCCC;
$white: #FFFFFF;
$black: #000000;

// Grid Variables
$grid-desktop-max-width: 1200px;
$grid-mobile-max-width: 98%;

$text-opacity: 0.9;
$box-bg-opacity: 0.75;
