section#about {
    .img-text-container {
        align-items: stretch;
    }
    img.mb {
        display: block;
        max-width: 75%;
        margin: 0 auto;
        border-radius: 50%;
        border: $blue 5px solid;
        opacity: $box-bg-opacity;
    }
    .about-text {
        p {
            text-align: justify;
        }
        a:link, a:visited {
            color: $dark-grey;
            font-weight: 700;
        }
        a:hover, a:active {
            color: $blue;
        }
    }
    .skills {
        background: $light_grey;
        opacity: $box-bg-opacity;
        padding: 15px;
        align-self: stretch;
        border-radius: 5px;

        h3 {
            margin: 0;
            color: $dark_grey;
            opacity: $text-opacity;
            font-size: 1.5em;
            text-align: center;
            margin-bottom: 10px;
        }
        p {
            border-radius: 5px;
            background-color: $blue;
            padding: 7.5px 10px;
            font-weight: 700;
            text-align: center;
            color: $dark-grey;
            font-size: 1.1em;
            margin: 2.5px;
            display: inline-block;
        }
    }
    .education {
        margin-bottom: 7.5px;
        .header {
            background-color: $blue;
            opacity: $box-bg-opacity;
            padding: 5px;
            border-radius: 5px 5px 0 0;
            position: relative;
            padding-right: 25px;

            &.open {
                border-radius: 5px 5px 0 0;
            }

            &.closed {
                border-radius: 5px;
            }

            h3 {
                color: $dark_grey;
                margin: 2.5px;
                font-weight: 700;
                font-size: 1.25em;
                .small {
                    font-weight: 400;
                }
            }
            p {
                color: $light_grey;
                font-weight: 700;
                margin: 2.5px;
                font-size: 1.1em;
            }
            a:link, a:visited {
                color: $dark-grey;
            }
            i {
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translate(0, -50%);
                font-size: 1.5em;
            }
        }
        .body {
            background-color: $light_grey;
            opacity: $box-bg-opacity;
            border-top: 2px solid $dark_grey;
            border-radius: 0 0 5px 5px;
            display: none;
            padding-bottom: 10px;
            p, h4 {
                padding: 5px 10px;
                margin: 0;
            }
            ul {
                list-style: none;
                padding-left: 10px;
                margin: 0;
                li {
                    padding: 5px;
                    &:before {
                        font-family: FontAwesome;
                        content: "\f054";
                        color: #09C;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    section#about {
        img.mb {
            max-width: 75%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
