section.contact {
    padding-bottom: 100vh;
    form {
        & > div {
            margin: 2.5px;
        input[type="text"], input[type="email"], textarea, input[type="reset"], input[type="submit"] {
            box-sizing: border-box;
            width: 100%;
            padding: 10px;
            text-align: center;
            border: $blue 5px solid;
            background-color: $light-grey;
            opacity: 0.6;
            font-size: 1.1em;
            font-weight: 700;
        }
        textarea {
            font-family: 'Raleway', sans-serif;
        }
        input[type="reset"] {
            background-color: #e3342f;
        }
        input[type="submit"] {
            background-color: #38c172;
            // width: 100%;
        }
    }
    }
}
