#cookies {
    background-color: $dark-grey;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    border-top: 3px solid $blue;
    opacity: 0.9;
    p {
        color: $blue;
        font-weight: 700;
        font-size: 1.1em;
        padding: 15px;
    }
    .button {
        margin: 5px 0;
        a:link, a:visited {
            border: 4px $blue solid;
            color: $blue;
            font-weight: 700;
            font-size: 1.1em;
            padding: 10px;
            text-align: center;
            display: block;
            text-decoration: none;
        }
        a:hover {
            color: $light_grey;
            border: 4px $light_grey solid;
        }
    }
}
