header {
    background-color: $blue;
    opacity: 0.85;
    h1 {
        margin: 0;
        color: $dark_grey;
        font-weight: bolder;
        padding: 10px 0;
        font-size: 2.5em;
        a:link, a:visited {
            color: $dark_grey;
            text-decoration: none;
        }
        a:hover {
            color: $light_grey;
        }
    }
}
