#image {
    div {
        h2 {
            a:link, a:visited {
                padding: 0;
                border: none;
                color: $blue;
                text-decoration: underline;
            }
            a:hover, a:active {
                color: $light_grey;
            }
        }
    }
    p {
        color: $blue;
        text-align: center;
        font-weight: 700;
        margin: 0;
        display: inline-block;
        padding: 0 5px;
    }
    div {
        margin-top: 10px;
        text-align: center;
        a:link, a:visited {
            display: inline-block;
            margin: 5px;
            text-decoration: none;
            border: 3px solid $blue;
            color: $light-grey;
            font-weight: 700;
            padding: 10px;
            border-radius: 5px;
            i {
                padding: 0 5px;
            }
        }
    }
    img {
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
