section#project {
    min-height: 100vh;
    .grid .grid {
        grid-gap: 15px;
        .grid {
            grid-gap: 7.5px;
        }
    }
    .side {
        background-color: $blue;
        opacity: $box-bg-opacity;
        padding-top: 25px;

        img {
            max-width: 75%;
            margin: 0 12.5%;
        }
        .not-img {
            width: 75%;
            margin: 0 12.5%;
            padding-top: 75%;
            background-color: $dark_grey;
            color: $light_grey;
            position: relative;
            border-radius: 5px;
            .text {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                p {
                    font-size: 6em;
                    margin: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-weight: 700;
                    color: $light_grey;

                }
            }
        }
        a:link, a:visited {
            // display: block;
            border: 3px solid $dark-grey;
            margin: 2.5px 10px;
            padding: 7.5px 5px;
            text-align: center;
            color: $dark_grey;
            text-decoration: none;
            font-weight: 700;
            font-size: 1.1em;
            border-radius: 5px;
            position: relative;
            &:last-child {
                margin-bottom: 20px;
            }
            i {
                position: absolute;
                right: 3%;
                top: 50%;
                transform: translate(0, -50%);
            }
        }
        a:hover, a:active {
            background-color: $light_grey;

        }
    }
    .tech-stack {
        text-align: center;
        padding: 0 5px;
        p {
            display: inline-block;
            padding: 7.5px;
            margin: 7.5px 2.5px;
            border: 3px solid $dark_grey;
            color: $light_grey;
            background-color: $dark_grey;
            font-weight: 700;
            opacity: $text-opacity;
            border-radius: 5px;
        }
    }
    .text {
        padding: 10px;
        h3, p {
            color: $dark-grey;
        }
        h3  {
            margin: 0;
            font-size: 1.6em;
            padding: 5px 0 7.5px 0;
        }
        p {
            padding: 0 0 7.5px 0;
            text-align: justify;
        }
    }
}
@media only screen and (min-width: $media-min-large) {
    #project {
        .side {
            position: -webkit-sticky; /* Safari */
            position: sticky;
            top: 15px;
        }
    }
}
