@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@500;700;900&display=swap);
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 100%;
  grid-gap: 15px;
  align-items: start;
  box-sizing: border-box; }
  .grid .all-2 {
    grid-column: auto / span 2; }
  .grid .all-3 {
    grid-column: auto / span 3; }
  .grid .all-4 {
    grid-column: auto / span 4; }
  .grid .all-5 {
    grid-column: auto / span 5; }
  .grid .all-6 {
    grid-column: auto / span 6; }
  .grid .all-7 {
    grid-column: auto / span 7; }
  .grid .all-8 {
    grid-column: auto / span 8; }
  .grid .all-9 {
    grid-column: auto / span 9; }
  .grid .all-10 {
    grid-column: auto / span 10; }
  .grid .all-11 {
    grid-column: auto / span 11; }
  .grid .all-12 {
    grid-column: auto / span 12; }
  .grid .all-start-1 {
    grid-column-start: 2; }
  .grid .all-start-2 {
    grid-column-start: 3; }
  .grid .all-start-3 {
    grid-column-start: 4; }
  .grid .all-start-4 {
    grid-column-start: 5; }
  .grid .all-start-5 {
    grid-column-start: 6; }
  .grid .all-start-6 {
    grid-column-start: 7; }
  .grid .all-start-7 {
    grid-column-start: 8; }
  .grid .all-start-8 {
    grid-column-start: 9; }
  .grid .all-start-9 {
    grid-column-start: 10; }
  .grid .all-start-10 {
    grid-column-start: 11; }
  .grid .grid {
    grid-gap: 7.5px; }

@media only screen and (max-width: 700px) {
  .grid-container {
    max-width: 98%;
    margin: auto; }
  .grid .mobile-2 {
    grid-column: auto / span 2; }
  .grid .mobile-3 {
    grid-column: auto / span 3; }
  .grid .mobile-4 {
    grid-column: auto / span 4; }
  .grid .mobile-5 {
    grid-column: auto / span 5; }
  .grid .mobile-6 {
    grid-column: auto / span 6; }
  .grid .mobile-7 {
    grid-column: auto / span 7; }
  .grid .mobile-8 {
    grid-column: auto / span 8; }
  .grid .mobile-9 {
    grid-column: auto / span 9; }
  .grid .mobile-10 {
    grid-column: auto / span 10; }
  .grid .mobile-11 {
    grid-column: auto / span 11; }
  .grid .mobile-12 {
    grid-column: auto / span 12; }
  .grid .mobile-hidden {
    display: none; }
  .grid .mobile-start-1 {
    grid-column-start: 2; }
  .grid .mobile-start-2 {
    grid-column-start: 3; }
  .grid .mobile-start-3 {
    grid-column-start: 4; }
  .grid .mobile-start-4 {
    grid-column-start: 5; }
  .grid .mobile-start-5 {
    grid-column-start: 6; }
  .grid .mobile-start-6 {
    grid-column-start: 7; }
  .grid .mobile-start-7 {
    grid-column-start: 8; }
  .grid .mobile-start-8 {
    grid-column-start: 9; }
  .grid .mobile-start-9 {
    grid-column-start: 10; }
  .grid .mobile-start-10 {
    grid-column-start: 11; } }

@media only screen and (min-width: 701px) {
  .grid-container {
    max-width: 1200px;
    margin: auto; }
  .form-grid-container {
    max-width: 60%;
    margin: auto; }
  .grid .desktop-2 {
    grid-column: auto / span 2; }
  .grid .desktop-3 {
    grid-column: auto / span 3; }
  .grid .desktop-4 {
    grid-column: auto / span 4; }
  .grid .desktop-5 {
    grid-column: auto / span 5; }
  .grid .desktop-6 {
    grid-column: auto / span 6; }
  .grid .desktop-7 {
    grid-column: auto / span 7; }
  .grid .desktop-8 {
    grid-column: auto / span 8; }
  .grid .desktop-9 {
    grid-column: auto / span 9; }
  .grid .desktop-10 {
    grid-column: auto / span 10; }
  .grid .desktop-11 {
    grid-column: auto / span 11; }
  .grid .desktop-12 {
    grid-column: auto / span 12; }
  .grid .desktop-hidden {
    display: none; }
  .grid .desktop-start-1 {
    grid-column-start: 2; }
  .grid .desktop-start-2 {
    grid-column-start: 3; }
  .grid .desktop-start-3 {
    grid-column-start: 4; }
  .grid .desktop-start-4 {
    grid-column-start: 5; }
  .grid .desktop-start-5 {
    grid-column-start: 6; }
  .grid .desktop-start-6 {
    grid-column-start: 7; }
  .grid .desktop-start-7 {
    grid-column-start: 8; }
  .grid .desktop-start-8 {
    grid-column-start: 9; }
  .grid .desktop-start-9 {
    grid-column-start: 10; }
  .grid .desktop-start-10 {
    grid-column-start: 11; } }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-justify {
  text-align: justify; }

.align-center {
  text-align: center; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #333333; }
  body > div.hex-bg-container {
    width: 100%;
    min-height: 100vh;
    background: center url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(40, 40, 40)' viewBox='0 0 100 169.5'%3E%3Cpolygon points='50,34.75 93.5,59.75 93.5,109.75 50,134.75 6.5,109.75 6.5,59.75'%3E%3C/polygon%3E%3Cpolygon points='0,-50 43.5,-25 43.5,25 0,50 -43.5,25 -43.5,-25'%3E%3C/polygon%3E%3Cpolygon points='100,-50 143.5,-25 143.5,25 100,50 56.5,25 56.5,-25'%3E%3C/polygon%3E%3Cpolygon points='0,119.5 43.5,144.5 43.5,194.5 0,219.5 -43.5,194.5 -43.5,144.5'%3E%3C/polygon%3E%3Cpolygon points='100,119.5 143.5,144.5 143.5,194.5 100,219.5 56.5,194.5 56.5,144.5'%3E%3C/polygon%3E%3C/svg%3E");
    background-size: 25px;
    background-attachment: fixed; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    opacity: 0.9; }
  body .blue-text {
    color: #0099CC;
    opacity: 0.9; }
  body .bold {
    font-weight: 700; }

header {
  background-color: #0099CC;
  opacity: 0.85; }
  header h1 {
    margin: 0;
    color: #333333;
    font-weight: bolder;
    padding: 10px 0;
    font-size: 2.5em; }
    header h1 a:link, header h1 a:visited {
      color: #333333;
      text-decoration: none; }
    header h1 a:hover {
      color: #CCCCCC; }

section h2 {
  text-align: center;
  font-size: 2em;
  color: #0099CC;
  margin: 15px 0 0 0; }

section .semi-transparent-light-grey {
  background: rgba(204, 204, 204, 0.75);
  color: #333333; }

section .semi-transparent-blue {
  background: rgba(0, 153, 204, 0.75);
  color: #000000; }

section .semi-transparent-light-grey p, section .semi-transparent-blue p {
  padding: 10px;
  margin: 0; }

section.landing {
  min-height: 100vh; }
  section.landing h2 {
    text-align: center;
    font-size: 3.5em;
    color: #0099CC;
    margin: 12.5vh 0;
    opacity: 0.9; }
  section.landing .card {
    background-color: #CCCCCC;
    opacity: 0.75;
    margin: 5px; }
    section.landing .card h3 {
      color: #0099CC;
      text-align: center;
      font-size: 3em; }

section.about img.mb {
  max-width: 75%;
  margin: 0 12.5%;
  border-radius: 50%;
  border: #0099CC 5px solid;
  opacity: 0.75; }

section.about .education {
  margin: 7.5px 0; }
  section.about .education .header {
    background-color: #0099CC;
    opacity: 0.75;
    padding: 5px;
    border-bottom: 2px solid #333333; }
    section.about .education .header h3 {
      color: #333333;
      margin: 2.5px;
      font-weight: 700;
      font-size: 1.25em; }
    section.about .education .header p {
      color: #CCCCCC;
      font-weight: 700;
      margin: 2.5px;
      font-size: 1.1em; }
  section.about .education .body {
    background-color: #CCCCCC;
    opacity: 0.75; }
    section.about .education .body p {
      padding: 10px;
      margin: 0; }

section.projects {
  padding-bottom: 100vh; }
  section.projects .tech-filters {
    text-align: center;
    line-height: 1;
    margin: 5px 0; }
    section.projects .tech-filters > a:link, section.projects .tech-filters > a:visited {
      color: #CCCCCC;
      border: 3px solid #0099CC;
      padding: 10px;
      text-decoration: none;
      font-weight: 700;
      opacity: 0.75;
      display: inline-block;
      margin: 7.5px 10px; }
    section.projects .tech-filters > a:active, section.projects .tech-filters > a:hover {
      background-color: #0099CC;
      color: #333333;
      opacity: 0.75; }
    section.projects .tech-filters > a.active {
      background-color: #0099CC;
      color: #333333;
      opacity: 0.75; }
  section.projects .project-card {
    background-color: #0099CC;
    opacity: 0.75;
    align-self: stretch;
    margin: 2.5px; }
    section.projects .project-card h3 {
      text-align: center; }
    section.projects .project-card img {
      max-width: 50%;
      margin: 0 25%; }
    section.projects .project-card .not-img {
      width: 50%;
      margin: 0 25%;
      padding-top: 50%;
      background-color: #333333;
      color: #CCCCCC;
      position: relative; }
      section.projects .project-card .not-img .text {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0; }
        section.projects .project-card .not-img .text p {
          font-size: 6em;
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-weight: 700; }
    section.projects .project-card .short-description {
      margin: 5px 10px;
      text-align: center; }
    section.projects .project-card .link {
      text-align: center; }
      section.projects .project-card .link p {
        padding: 5px 0 10px 0;
        display: block; }
        section.projects .project-card .link p a:link, section.projects .project-card .link p a:visited {
          border: 4px solid #333333;
          padding: 10px 25px;
          margin: 5px 0;
          color: #333333;
          text-decoration: none;
          font-size: 1.1em;
          font-weight: 700;
          background-color: #CCCCCC; }

section.project .tech-stack {
  text-align: center; }
  section.project .tech-stack p {
    display: inline-block;
    padding: 10px;
    margin: 7.5px 10px;
    border: 3px solid #0099CC;
    color: #CCCCCC;
    font-weight: 700;
    opacity: 0.9; }

