@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@500;700;900&display=swap);
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 100%;
  grid-gap: 15px;
  align-items: start;
  box-sizing: border-box;
}
.grid .all-2 {
  grid-column: auto/span 2;
}
.grid .all-3 {
  grid-column: auto/span 3;
}
.grid .all-4 {
  grid-column: auto/span 4;
}
.grid .all-5 {
  grid-column: auto/span 5;
}
.grid .all-6 {
  grid-column: auto/span 6;
}
.grid .all-7 {
  grid-column: auto/span 7;
}
.grid .all-8 {
  grid-column: auto/span 8;
}
.grid .all-9 {
  grid-column: auto/span 9;
}
.grid .all-10 {
  grid-column: auto/span 10;
}
.grid .all-11 {
  grid-column: auto/span 11;
}
.grid .all-12 {
  grid-column: auto/span 12;
}
.grid .all-left {
  text-align: left;
}
.grid .all-right {
  text-align: right;
}
.grid .all-justify {
  text-align: justify;
}
.grid .all-center {
  text-align: center;
}
.grid .all-start-1 {
  grid-column-start: 2;
}
.grid .all-start-2 {
  grid-column-start: 3;
}
.grid .all-start-3 {
  grid-column-start: 4;
}
.grid .all-start-4 {
  grid-column-start: 5;
}
.grid .all-start-5 {
  grid-column-start: 6;
}
.grid .all-start-6 {
  grid-column-start: 7;
}
.grid .all-start-7 {
  grid-column-start: 8;
}
.grid .all-start-8 {
  grid-column-start: 9;
}
.grid .all-start-9 {
  grid-column-start: 10;
}
.grid .all-start-10 {
  grid-column-start: 11;
}
.grid .grid {
  grid-gap: 7.5px;
}

@media only screen and (max-width: 480px) {
  .grid-container {
    max-width: 95vw;
    margin: auto;
  }

  .grid .small-2 {
    grid-column: auto/span 2;
  }
  .grid .small-3 {
    grid-column: auto/span 3;
  }
  .grid .small-4 {
    grid-column: auto/span 4;
  }
  .grid .small-5 {
    grid-column: auto/span 5;
  }
  .grid .small-6 {
    grid-column: auto/span 6;
  }
  .grid .small-7 {
    grid-column: auto/span 7;
  }
  .grid .small-8 {
    grid-column: auto/span 8;
  }
  .grid .small-9 {
    grid-column: auto/span 9;
  }
  .grid .small-10 {
    grid-column: auto/span 10;
  }
  .grid .small-11 {
    grid-column: auto/span 11;
  }
  .grid .small-12 {
    grid-column: auto/span 12;
  }
  .grid .small-hidden {
    display: none;
  }
  .grid .small-left {
    text-align: left;
  }
  .grid .small-right {
    text-align: right;
  }
  .grid .small-justify {
    text-align: justify;
  }
  .grid .small-center {
    text-align: center;
  }
  .grid .small-start-1 {
    grid-column-start: 2;
  }
  .grid .small-start-2 {
    grid-column-start: 3;
  }
  .grid .small-start-3 {
    grid-column-start: 4;
  }
  .grid .small-start-4 {
    grid-column-start: 5;
  }
  .grid .small-start-5 {
    grid-column-start: 6;
  }
  .grid .small-start-6 {
    grid-column-start: 7;
  }
  .grid .small-start-7 {
    grid-column-start: 8;
  }
  .grid .small-start-8 {
    grid-column-start: 9;
  }
  .grid .small-start-9 {
    grid-column-start: 10;
  }
  .grid .small-start-10 {
    grid-column-start: 11;
  }
}
@media only screen and (min-width: 481px) and (max-width: 950px) {
  .grid-container {
    max-width: 95vw;
    margin: auto;
  }

  .grid .medium-2 {
    grid-column: auto/span 2;
  }
  .grid .medium-3 {
    grid-column: auto/span 3;
  }
  .grid .medium-4 {
    grid-column: auto/span 4;
  }
  .grid .medium-5 {
    grid-column: auto/span 5;
  }
  .grid .medium-6 {
    grid-column: auto/span 6;
  }
  .grid .medium-7 {
    grid-column: auto/span 7;
  }
  .grid .medium-8 {
    grid-column: auto/span 8;
  }
  .grid .medium-9 {
    grid-column: auto/span 9;
  }
  .grid .medium-10 {
    grid-column: auto/span 10;
  }
  .grid .medium-11 {
    grid-column: auto/span 11;
  }
  .grid .medium-12 {
    grid-column: auto/span 12;
  }
  .grid .medium-hidden {
    display: none;
  }
  .grid .medium-left {
    text-align: left;
  }
  .grid .medium-right {
    text-align: right;
  }
  .grid .medium-justify {
    text-align: justify;
  }
  .grid .medium-center {
    text-align: center;
  }
  .grid .medium-start-1 {
    grid-column-start: 2;
  }
  .grid .medium-start-2 {
    grid-column-start: 3;
  }
  .grid .medium-start-3 {
    grid-column-start: 4;
  }
  .grid .medium-start-4 {
    grid-column-start: 5;
  }
  .grid .medium-start-5 {
    grid-column-start: 6;
  }
  .grid .medium-start-6 {
    grid-column-start: 7;
  }
  .grid .medium-start-7 {
    grid-column-start: 8;
  }
  .grid .medium-start-8 {
    grid-column-start: 9;
  }
  .grid .medium-start-9 {
    grid-column-start: 10;
  }
  .grid .medium-start-10 {
    grid-column-start: 11;
  }
}
@media only screen and (min-width: 951px) and (max-width: 1450px) {
  .grid-container {
    max-width: 95vw;
    margin: auto;
  }

  .grid .large-2 {
    grid-column: auto/span 2;
  }
  .grid .large-3 {
    grid-column: auto/span 3;
  }
  .grid .large-4 {
    grid-column: auto/span 4;
  }
  .grid .large-5 {
    grid-column: auto/span 5;
  }
  .grid .large-6 {
    grid-column: auto/span 6;
  }
  .grid .large-7 {
    grid-column: auto/span 7;
  }
  .grid .large-8 {
    grid-column: auto/span 8;
  }
  .grid .large-9 {
    grid-column: auto/span 9;
  }
  .grid .large-10 {
    grid-column: auto/span 10;
  }
  .grid .large-11 {
    grid-column: auto/span 11;
  }
  .grid .large-12 {
    grid-column: auto/span 12;
  }
  .grid .large-hidden {
    display: none;
  }
  .grid .large-left {
    text-align: left;
  }
  .grid .large-right {
    text-align: right;
  }
  .grid .large-justify {
    text-align: justify;
  }
  .grid .large-center {
    text-align: center;
  }
  .grid .large-start-1 {
    grid-column-start: 2;
  }
  .grid .large-start-2 {
    grid-column-start: 3;
  }
  .grid .large-start-3 {
    grid-column-start: 4;
  }
  .grid .large-start-4 {
    grid-column-start: 5;
  }
  .grid .large-start-5 {
    grid-column-start: 6;
  }
  .grid .large-start-6 {
    grid-column-start: 7;
  }
  .grid .large-start-7 {
    grid-column-start: 8;
  }
  .grid .large-start-8 {
    grid-column-start: 9;
  }
  .grid .large-start-9 {
    grid-column-start: 10;
  }
  .grid .large-start-10 {
    grid-column-start: 11;
  }
}
@media only screen and (min-width: 1451px) {
  .grid-container {
    max-width: 1400px;
    margin: auto;
  }

  .grid .xlarge-2 {
    grid-column: auto/span 2;
  }
  .grid .xlarge-3 {
    grid-column: auto/span 3;
  }
  .grid .xlarge-4 {
    grid-column: auto/span 4;
  }
  .grid .xlarge-5 {
    grid-column: auto/span 5;
  }
  .grid .xlarge-6 {
    grid-column: auto/span 6;
  }
  .grid .xlarge-7 {
    grid-column: auto/span 7;
  }
  .grid .xlarge-8 {
    grid-column: auto/span 8;
  }
  .grid .xlarge-9 {
    grid-column: auto/span 9;
  }
  .grid .xlarge-10 {
    grid-column: auto/span 10;
  }
  .grid .xlarge-11 {
    grid-column: auto/span 11;
  }
  .grid .xlarge-12 {
    grid-column: auto/span 12;
  }
  .grid .xlarge-hidden {
    display: none;
  }
  .grid .xlarge-left {
    text-align: left;
  }
  .grid .xlarge-right {
    text-align: right;
  }
  .grid .xlarge-justify {
    text-align: justify;
  }
  .grid .xlarge-center {
    text-align: center;
  }
  .grid .xlarge-start-1 {
    grid-column-start: 2;
  }
  .grid .xlarge-start-2 {
    grid-column-start: 3;
  }
  .grid .xlarge-start-3 {
    grid-column-start: 4;
  }
  .grid .xlarge-start-4 {
    grid-column-start: 5;
  }
  .grid .xlarge-start-5 {
    grid-column-start: 6;
  }
  .grid .xlarge-start-6 {
    grid-column-start: 7;
  }
  .grid .xlarge-start-7 {
    grid-column-start: 8;
  }
  .grid .xlarge-start-8 {
    grid-column-start: 9;
  }
  .grid .xlarge-start-9 {
    grid-column-start: 10;
  }
  .grid .xlarge-start-10 {
    grid-column-start: 11;
  }
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-justify {
  text-align: justify;
}
.align-center {
  text-align: center;
}

.flex-container {
  display: inline-flex;
}

.flex-right {
  justify-content: flex-end;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: #333333;
}
body > div.hex-bg-container {
  width: 100%;
  min-height: 100vh;
  background: center url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(40, 40, 40)' viewBox='0 0 100 169.5'%3E%3Cpolygon points='50,34.75 93.5,59.75 93.5,109.75 50,134.75 6.5,109.75 6.5,59.75'%3E%3C/polygon%3E%3Cpolygon points='0,-50 43.5,-25 43.5,25 0,50 -43.5,25 -43.5,-25'%3E%3C/polygon%3E%3Cpolygon points='100,-50 143.5,-25 143.5,25 100,50 56.5,25 56.5,-25'%3E%3C/polygon%3E%3Cpolygon points='0,119.5 43.5,144.5 43.5,194.5 0,219.5 -43.5,194.5 -43.5,144.5'%3E%3C/polygon%3E%3Cpolygon points='100,119.5 143.5,144.5 143.5,194.5 100,219.5 56.5,194.5 56.5,144.5'%3E%3C/polygon%3E%3C/svg%3E");
  background-size: 25px;
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  -moz-background-attachment: fixed;
  -o-background-attachment: fixed;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  opacity: 0.9;
}
body .blue-text {
  color: #0099CC;
  opacity: 0.9;
}
body .bold {
  font-weight: 700;
}

header {
  background-color: #0099CC;
  opacity: 0.75;
}
header .grid {
  align-items: center;
}
header h1 {
  margin: 0;
  color: #333333;
  font-weight: bolder;
  padding: 10px 0;
  font-size: 2.5em;
}
header h1 a:link, header h1 a:visited {
  color: #333333;
  text-decoration: none;
}
header h1 a:hover {
  color: #CCCCCC;
}
header nav:not(.small) a:link, header nav:not(.small) a:visited {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1em;
  padding: 25px 10px;
  margin: 0 10px;
}
header nav:not(.small) a:hover, header nav:not(.small) a:active {
  background-color: #333333;
  color: #0099CC;
}
header nav:not(.small) a:link:last-child, header nav:not(.small) a:visited:last-child {
  margin-right: 0;
}
header i {
  font-size: 1.25em;
}

@media only screen and (max-width: 950px) {
  header h1 {
    font-size: 2em;
    text-align: center;
  }
  header nav:not(.large).grid {
    grid-gap: 0;
  }
  header nav:not(.large) a:link, header nav:not(.large) a:visited {
    color: #333333;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1em;
    padding: 7.5px;
    margin: 0;
  }
  header nav:not(.large) a:hover, header nav:not(.large) a:active {
    background-color: #333333;
    color: #0099CC;
  }
  header nav:not(.large) a:link:not(#bars).hidden, header nav:not(.large) a:visited:not(#bars).hidden {
    display: none;
  }
  header nav:not(.large) a:link:not(#bars).show, header nav:not(.large) a:visited:not(#bars).show {
    display: block;
  }
}
section {
  padding-bottom: 45px;
}
section h2 {
  text-align: center;
  font-size: 2em;
  color: #0099CC;
  margin: 15px 0 0 0;
}
section#about h3.heading {
  text-align: center;
  font-size: 1.75em;
  color: #0099CC;
  margin: 15px 0 0 0;
}
section .semi-transparent-light-grey {
  background: rgba(204, 204, 204, 0.75);
  color: #333333;
}
section .semi-transparent-blue {
  background: rgba(0, 153, 204, 0.75);
  color: #000000;
}
section .semi-transparent-light-grey p, section .semi-transparent-blue p {
  padding: 10px;
  margin: 0;
}
section .text-centre {
  text-align: center;
}
section .slight-rounding {
  border-radius: 5px;
}

@keyframes chevron_bounce {
  0% {
    bottom: 5vh;
  }
  40% {
    bottom: 5vh;
  }
  60% {
    bottom: 20px;
  }
  100% {
    bottom: 5vh;
  }
}
@-webkit-keyframes chevron_bounce {
  0% {
    bottom: 5vh;
  }
  40% {
    bottom: 5vh;
  }
  60% {
    bottom: 20px;
  }
  100% {
    bottom: 5vh;
  }
}
@-webkit-keyframes hover_jump {
  0% {
    bottom: 2px;
  }
  40% {
    bottom: 4px;
  }
  60% {
    bottom: 2px;
  }
  100% {
    bottom: 10px;
  }
}
@keyframes hover_jump {
  0% {
    bottom: 2px;
  }
  40% {
    bottom: 4px;
  }
  60% {
    bottom: 2px;
  }
  100% {
    bottom: 10px;
  }
}
section#landing {
  min-height: 100vh;
}
section#landing h2 {
  text-align: center;
  font-size: 3.5em;
  color: #0099CC;
  margin: 12.5vh 0;
  opacity: 0.9;
}
section#landing a:link.link, section#landing a:visited.link {
  align-self: stretch;
  position: relative;
  display: block;
  text-align: center;
  color: #0099CC;
  font-weight: 700;
  font-size: 1.2em;
  text-decoration: none;
  border: 3px solid #0099CC;
  margin: 15px;
  padding: 15px calc(15px + 7.5%) 15px 15px;
  opacity: 0.75;
}
section#landing a:link.link i, section#landing a:visited.link i {
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translate(0, -50%);
}
section#landing a:hover.link, section#landing a:active.link {
  background-color: #0099CC;
  color: #333333;
}
section#landing .chevron a {
  color: #CCCCCC;
  text-align: center;
  bottom: 5vh;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  -webkit-animation: chevron_bounce 2s infinite;
  animation: chevron_bounce 2s infinite;
  transition: color 500ms;
}
section#landing .chevron a .fa {
  font-size: 3em;
}
section#landing .chevron a:hover {
  color: #0099CC;
}

@media only screen and (max-width: 480px) {
  section#landing {
    min-height: 85vh;
  }
  section#landing h2 {
    font-size: 2.5em;
    margin: 5vh 0;
  }
  section#landing .card a:link, section#landing .card a:visited {
    margin: 0;
  }
}
@media only screen and (min-width: 951px) and (max-width: 1450px) {
  section#landing h2 {
    margin: 12.5vh 7.5vw;
  }
}
@media only screen and (min-width: 1451px) {
  section#landing {
    min-height: 90vh;
  }
  section#landing .grid-container {
    margin-top: 3vh;
  }
  section#landing h2 {
    margin: 15vh 7.5vw;
  }
}
section#about .img-text-container {
  align-items: stretch;
}
section#about img.mb {
  display: block;
  max-width: 75%;
  margin: 0 auto;
  border-radius: 50%;
  border: #0099CC 5px solid;
  opacity: 0.75;
}
section#about .about-text p {
  text-align: justify;
}
section#about .about-text a:link, section#about .about-text a:visited {
  color: #333333;
  font-weight: 700;
}
section#about .about-text a:hover, section#about .about-text a:active {
  color: #0099CC;
}
section#about .skills {
  background: #CCCCCC;
  opacity: 0.75;
  padding: 15px;
  align-self: stretch;
  border-radius: 5px;
}
section#about .skills h3 {
  margin: 0;
  color: #333333;
  opacity: 0.9;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 10px;
}
section#about .skills p {
  border-radius: 5px;
  background-color: #0099CC;
  padding: 7.5px 10px;
  font-weight: 700;
  text-align: center;
  color: #333333;
  font-size: 1.1em;
  margin: 2.5px;
  display: inline-block;
}
section#about .education {
  margin-bottom: 7.5px;
}
section#about .education .header {
  background-color: #0099CC;
  opacity: 0.75;
  padding: 5px;
  border-radius: 5px 5px 0 0;
  position: relative;
  padding-right: 25px;
}
section#about .education .header.open {
  border-radius: 5px 5px 0 0;
}
section#about .education .header.closed {
  border-radius: 5px;
}
section#about .education .header h3 {
  color: #333333;
  margin: 2.5px;
  font-weight: 700;
  font-size: 1.25em;
}
section#about .education .header h3 .small {
  font-weight: 400;
}
section#about .education .header p {
  color: #CCCCCC;
  font-weight: 700;
  margin: 2.5px;
  font-size: 1.1em;
}
section#about .education .header a:link, section#about .education .header a:visited {
  color: #333333;
}
section#about .education .header i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 1.5em;
}
section#about .education .body {
  background-color: #CCCCCC;
  opacity: 0.75;
  border-top: 2px solid #333333;
  border-radius: 0 0 5px 5px;
  display: none;
  padding-bottom: 10px;
}
section#about .education .body p, section#about .education .body h4 {
  padding: 5px 10px;
  margin: 0;
}
section#about .education .body ul {
  list-style: none;
  padding-left: 10px;
  margin: 0;
}
section#about .education .body ul li {
  padding: 5px;
}
section#about .education .body ul li:before {
  font-family: FontAwesome;
  content: "\f054";
  color: #09C;
  margin-right: 5px;
}

@media only screen and (max-width: 700px) {
  section#about img.mb {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}
section#projects .tech-filters {
  text-align: center;
  line-height: 1;
  margin: 5px 100px;
}
section#projects .tech-filters > a:link, section#projects .tech-filters > a:visited {
  color: #CCCCCC;
  border: 3px solid #0099CC;
  padding: 10px;
  text-decoration: none;
  font-weight: 700;
  opacity: 0.75;
  display: inline-block;
  border-radius: 5px;
  margin: 7.5px 10px;
}
section#projects .tech-filters > a:active, section#projects .tech-filters > a:hover {
  background-color: #0099CC;
  color: #333333;
  opacity: 0.75;
}
section#projects .tech-filters > a.active {
  background-color: #0099CC;
  color: #333333;
  opacity: 0.75;
}
section#projects .project-card {
  background-color: #0099CC;
  opacity: 0.75;
  align-self: stretch;
  border-radius: 5px;
  margin: 2.5px;
}
section#projects .project-card h3 {
  text-align: center;
  color: #333333;
  opacity: 1;
  margin-bottom: 5px;
}
section#projects .project-card img {
  max-width: 50%;
  margin: 0 25%;
}
section#projects .project-card .not-img {
  width: 50%;
  margin: 0 25%;
  padding-top: 50%;
  background-color: #333333;
  color: #CCCCCC;
  position: relative;
}
section#projects .project-card .not-img .text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
section#projects .project-card .not-img .text p {
  font-size: 6em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
}
section#projects .project-card .short-description {
  margin: 5px 10px;
  text-align: center;
}
section#projects .project-card .tech-stack {
  text-align: center;
}
section#projects .project-card .tech-stack p {
  display: inline-block;
  background-color: #333333;
  color: #CCCCCC;
  padding: 7px;
  margin: 5px 0;
  font-size: 0.9em;
  font-weight: 700;
  border-radius: 5px;
}
section#projects .project-card .link {
  text-align: center;
}
section#projects .project-card .link p {
  padding: 5px 0 10px 0;
  display: block;
}
section#projects .project-card .link p a:link, section#projects .project-card .link p a:visited {
  border-radius: 5px;
  border: 4px solid #333333;
  padding: 10px 25px;
  margin: 5px 0;
  color: #333333;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 700;
  background-color: #CCCCCC;
}

@media only screen and (min-width: 0px) and (max-width: 950px) {
  section#projects .tech-filters {
    margin: 5px;
  }
  section#projects .project-card .not-img .text p {
    font-size: 4.8em;
  }
}
.flash-message > p {
  margin: 0;
  padding: 10px;
  opacity: 0.75;
  text-align: center;
  font-size: 1.25em;
}
.flash-message .success {
  background-color: #38C172;
}
.flash-message .error {
  background-color: #E3342F;
}

section#contact .text p {
  color: #333333;
  opacity: 1;
}
section#contact .text p a:link, section#contact .text p a:visited {
  color: #333333;
  font-weight: 700;
}
section#contact .text p a:hover, section#contact .text p a:active {
  color: #0099CC;
  background-color: #333333;
}
section#contact form > div {
  margin: 2.5px;
}
section#contact form > div input[type=text], section#contact form > div input[type=email], section#contact form > div textarea, section#contact form > div input[type=reset], section#contact form > div input[type=submit] {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  text-align: center;
  border: #0099CC 5px solid;
  background-color: #CCCCCC;
  opacity: 0.75;
  font-size: 1.1em;
  font-weight: 700;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
section#contact form > div textarea {
  font-family: "Raleway", sans-serif;
}
section#contact form > div input[type=reset] {
  background-color: #e3342f;
  color: #FFF;
}
section#contact form > div input[type=submit] {
  background-color: #38c172;
  color: #FFF;
}

footer {
  background-color: #0099CC;
  opacity: 0.75;
}
footer p {
  font-size: 1.1em;
  font-weight: 700;
  padding: 10px;
  color: #333333;
}
footer p.icons {
  padding: 0 5px;
}
footer p.icons a:link, footer p.icons a:visited {
  color: #333333;
  font-size: 1.85em;
  padding: 5px;
}
footer p.icons a:hover, footer p.icons a:active {
  color: #CCCCCC;
}

@media only screen and (max-width: 950px) {
  footer .grid-container {
    grid-gap: 0;
  }
  footer p {
    margin: 5px;
    padding: 5px;
  }
}
section#project {
  min-height: 80vh;
}
section#project .grid .grid {
  grid-gap: 15px;
}
section#project .grid .grid .grid {
  grid-gap: 7.5px;
}
section#project .side {
  background-color: #0099CC;
  opacity: 0.75;
  padding-top: 25px;
}
section#project .side img {
  max-width: 75%;
  margin: 0 12.5%;
}
section#project .side .not-img {
  width: 75%;
  margin: 0 12.5%;
  padding-top: 75%;
  background-color: #333333;
  color: #CCCCCC;
  position: relative;
  border-radius: 5px;
}
section#project .side .not-img .text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
section#project .side .not-img .text p {
  font-size: 6em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  color: #CCCCCC;
}
section#project .side a:link, section#project .side a:visited {
  border: 3px solid #333333;
  margin: 2.5px 10px;
  padding: 7.5px 25px 7.5px 5px;
  text-align: center;
  color: #333333;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1em;
  border-radius: 5px;
  position: relative;
}
section#project .side a:link:last-child, section#project .side a:visited:last-child {
  margin-bottom: 20px;
}
section#project .side a:link i, section#project .side a:visited i {
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translate(0, -50%);
}
section#project .side a:hover, section#project .side a:active {
  background-color: #CCCCCC;
}
section#project .tech-stack {
  text-align: center;
  padding: 0 5px;
}
section#project .tech-stack p {
  display: inline-block;
  padding: 7.5px;
  margin: 7.5px 2.5px;
  border: 3px solid #333333;
  color: #CCCCCC;
  background-color: #333333;
  font-weight: 700;
  opacity: 0.9;
  border-radius: 5px;
}
section#project .text {
  padding: 10px;
}
section#project .text h3, section#project .text p {
  color: #333333;
}
section#project .text h3 {
  margin: 0;
  font-size: 1.6em;
  padding: 5px 0 7.5px 0;
}
section#project .text p {
  padding: 0 0 7.5px 0;
  text-align: justify;
}

@media only screen and (min-width: 951px) {
  #project .side {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 15px;
  }
}
#image div h2 a:link, #image div h2 a:visited {
  padding: 0;
  border: none;
  color: #0099CC;
  text-decoration: underline;
}
#image div h2 a:hover, #image div h2 a:active {
  color: #CCCCCC;
}
#image p {
  color: #0099CC;
  text-align: center;
  font-weight: 700;
  margin: 0;
  display: inline-block;
  padding: 0 5px;
}
#image div {
  margin-top: 10px;
  text-align: center;
}
#image div a:link, #image div a:visited {
  display: inline-block;
  margin: 5px;
  text-decoration: none;
  border: 3px solid #0099CC;
  color: #CCCCCC;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
}
#image div a:link i, #image div a:visited i {
  padding: 0 5px;
}
#image img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#cookies {
  background-color: #333333;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  border-top: 3px solid #0099CC;
  opacity: 0.9;
}
#cookies p {
  color: #0099CC;
  font-weight: 700;
  font-size: 1.1em;
  padding: 15px;
}
#cookies .button {
  margin: 5px 0;
}
#cookies .button a:link, #cookies .button a:visited {
  border: 4px #0099CC solid;
  color: #0099CC;
  font-weight: 700;
  font-size: 1.1em;
  padding: 10px;
  text-align: center;
  display: block;
  text-decoration: none;
}
#cookies .button a:hover {
  color: #CCCCCC;
  border: 4px #CCCCCC solid;
}
