@import url("https://fonts.googleapis.com/css?family=Raleway:800");
@import url("https://use.fontawesome.com/6743a74a84.css");
@keyframes chevron_bounce {
  0% {
    bottom: 10vh; }
  40% {
    bottom: 10vh; }
  60% {
    bottom: 40px; }
  100% {
    bottom: 10vh; } }
@-webkit-keyframes chevron_bounce {
  0% {
    bottom: 10vh; }
  40% {
    bottom: 10vh; }
  60% {
    bottom: 40px; }
  100% {
    bottom: 10vh; } }
* {
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background-color: #333; }

.hidden {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  text-align: center; }

.grid {
  display: grid;
  max-width: 100%;
  margin: 10px auto;
  grid-gap: 5px;
  padding: 15px 0; }
  .grid .inner {
    width: 100%;
    font-size: 1em;
    padding: 5px; }

.button {
  text-align: center;
  display: block;
  padding: 5px; }
  .button a {
    color: #0099CC;
    border: 4px #0099CC solid;
    text-decoration: none;
    padding: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 1.1em;
    max-width: 100%;
    display: block;
    margin: auto;
    position: relative; }
    .button a:hover {
      color: #DDD;
      border: 4px #DDD solid; }
    .button a .fa {
      font-size: 1.1em; }
    .button a .right {
      position: absolute;
      right: 3%; }
    .button a .left {
      position: absolute;
      left: 3%; }

header {
  max-width: 90%;
  margin: auto;
  min-height: 100vh;
  position: relative; }
  header img {
    display: block;
    margin-left: 0;
    max-width: 30vw;
    padding: 30px 15px 15px 15px;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
    header img:hover {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1); }
  header h1 {
    font-size: 2em;
    color: #DDD;
    max-width: 300px;
    margin: 15px auto 15px auto;
    line-height: 1.5em; }
  header .button {
    margin: 5px auto; }
    header .button a {
      max-width: 100%; }
  header .chevron a {
    color: #DDD;
    text-align: center;
    bottom: 10vh;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    -moz-animation: chevron_bounce 2s infinite;
    -webkit-animation: chevron_bounce 2s infinite;
    animation: chevron_bounce 2s infinite; }
    header .chevron a .fa {
      font-size: 3em; }
  header#project {
    min-height: auto; }
    header#project h1 {
      margin: 0;
      max-width: 100%; }

body section {
  margin-bottom: 30px; }
  body section h2 {
    color: #0099CC;
    font-size: 1.8em;
    margin: 10px; }
  body section h3 {
    margin: 10px;
    text-decoration: underline; }
  body section h4 {
    font-size: 1em;
    text-decoration: none; }
  body section p {
    color: #DDD;
    text-align: center;
    margin: 10px auto;
    max-width: 90%;
    font-size: 1.1em;
    line-height: 1.4em; }
  body section#about h3 {
    color: #DDD;
    margin: 10px;
    font-size: 1.25em;
    text-decoration: underline; }
  body section#about p a:link, body section#about p a:visited {
    color: #0099CC;
    font-family: "Raleway", sans-serif; }
  body section#about .grid {
    grid-template-columns: 50% 50%;
    padding: 5px;
    max-width: 90%;
    grid-gap: 5px; }
    body section#about .grid .inner {
      background-color: #0099CC;
      color: #333;
      font-size: 0.95em;
      font-family: "Raleway", sans-serif;
      text-align: center;
      padding: 3px; }
    body section#about .grid .three {
      grid-column: span 2;
      text-align: justify;
      margin: 0;
      padding: 10px;
      background-color: #333;
      max-width: 100%; }
    body section#about .grid #michael_barrows {
      grid-column: span 2;
      max-width: 40%;
      margin: auto; }
  body section .dropdown {
    background-color: #0099CC;
    max-width: 90%;
    margin: 15px auto; }
    body section .dropdown .title {
      position: relative; }
      body section .dropdown .title a {
        position: absolute;
        right: 3%;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 1.1em;
        color: #333;
        text-decoration: none; }
        body section .dropdown .title a.fa-chevron-up {
          display: none; }
      body section .dropdown .title h4 {
        margin: 0;
        padding: 10px 3% 0 3%;
        color: #333;
        text-align: left;
        font-weight: bold;
        font-size: 1.05em; }
      body section .dropdown .title h5 {
        margin: 0;
        padding: 3px 3% 10px 3%;
        color: #333;
        text-align: left;
        font-size: 0.9em; }
    body section .dropdown .content {
      display: none;
      border-top: 1.5px solid #333;
      padding: 10px 10px;
      background-color: #DDD; }
      body section .dropdown .content .info {
        padding: 0 2px 8px 2px;
        margin-bottom: 8px;
        border-bottom: 1.5px solid #0099CC; }
        body section .dropdown .content .info .blue {
          color: #0099CC;
          font-weight: bold; }
      body section .dropdown .content h6 {
        margin: 0 auto;
        max-width: 100%;
        font-size: 1em;
        color: #333;
        text-align: left; }
      body section .dropdown .content ul {
        margin: 5px 0 10px 0;
        padding-left: 20px; }
        body section .dropdown .content ul li {
          margin: 3px 0;
          line-height: 1.25em; }
      body section .dropdown .content p {
        margin: 0 auto;
        max-width: 100%;
        font-size: 1em;
        text-align: left;
        color: #333; }
  body section#projects .portfolio .grid {
    max-width: 90%;
    grid-template-columns: auto;
    grid-gap: 15px; }
    body section#projects .portfolio .grid .inner {
      background-color: #0099CC; }
      body section#projects .portfolio .grid .inner h3 {
        color: #333;
        font-size: 1.4em; }
      body section#projects .portfolio .grid .inner p {
        color: #FFFFFF;
        text-align: left; }
      body section#projects .portfolio .grid .inner img {
        max-width: 90%;
        margin-left: 5%;
        margin-right: 5%; }
    body section#projects .portfolio .grid .technologies.desktop-only {
      display: none; }
    body section#projects .portfolio .grid .technologies .grid {
      grid-template-columns: auto auto auto;
      padding: 5px;
      max-width: 90%;
      grid-gap: 5px; }
      body section#projects .portfolio .grid .technologies .grid .inner {
        background-color: #333;
        color: #0099CC;
        font-size: 0.9em;
        font-family: "Raleway", sans-serif;
        text-align: center;
        padding: 3px; }
    body section#projects .portfolio .grid .button {
      padding: 12px; }
      body section#projects .portfolio .grid .button a {
        border: 3px solid #333;
        color: #333; }
        body section#projects .portfolio .grid .button a:hover {
          border: 3px solid #DDD;
          color: #DDD; }
  body section#contact {
    max-width: 85%;
    margin: auto auto 30px auto; }
    body section#contact ul {
      list-style-type: none; }
      body section#contact ul li {
        color: #DDD;
        font-size: 1em;
        padding-top: 4px;
        padding-bottom: 4px;
        text-align: center; }
    body section#contact form input, body section#contact form textarea, body section#contact form button {
      width: 100%;
      margin: 5px auto;
      padding: 5px;
      font-family: "Raleway", sans-serif;
      font-size: 1.1em;
      text-align: center;
      border: 3px solid #0099CC;
      background-color: #DDD;
      color: #333; }
    body section#contact form textarea {
      min-height: 115px; }
    body section#contact form ::placeholder {
      color: #333;
      opacity: 1;
      font-family: sans-serif; }
    body section#contact form button {
      border: 4px solid #0099CC;
      padding: 10px;
      background-color: transparent;
      color: #0099CC;
      position: relative; }
      body section#contact form button .fa {
        position: absolute;
        right: 3%;
        font-size: 1.1em; }
  body section#project h2 {
    font-size: 1.5em;
    text-decoration: underline;
    line-height: 1.2em; }
  body section#project ul {
    margin: auto;
    display: grid;
    grid-template-columns: auto; }
    body section#project ul li {
      color: #DDD;
      padding: 2.5px 0; }
  body section#project p a {
    color: #0099CC; }
  body section#project .example {
    margin: 20px 0;
    padding: 10px;
    border-left: 5px double #0099CC;
    border-right: 5px double #0099CC;
    border-top: 5px double #0099CC;
    border-bottom: 5px double #0099CC; }
    body section#project .example p {
      color: #0099CC;
      margin: 2.5px auto; }
    body section#project .example .math {
      max-width: 90%;
      margin: 5px auto;
      padding: 10px;
      border-top: 5px double #DDD;
      border-bottom: 5px double #DDD; }
      body section#project .example .math p {
        color: #DDD; }
  body section#project .image-grid {
    display: grid;
    max-width: 85%;
    margin: 10px auto;
    grid-template-columns: auto;
    grid-gap: 15px;
    padding: 15px 0; }
    body section#project .image-grid iframe {
      border: none;
      overflow: hidden;
      min-width: 100%;
      height: 540px; }
      body section#project .image-grid iframe.connect-4 {
        height: 543px; }
    body section#project .image-grid figure {
      margin: auto;
      width: 100%; }
      body section#project .image-grid figure img {
        width: 100%; }
      body section#project .image-grid figure figcaption {
        color: #0099CC;
        font-size: 0.9em;
        text-align: center; }
  body section#project h3 {
    color: #DDD; }
  body section#project .technologies .grid {
    grid-template-columns: auto auto auto;
    padding: 5px;
    max-width: 90%;
    grid-gap: 5px; }
    body section#project .technologies .grid .inner {
      background-color: #0099CC;
      color: #333;
      font-family: "Raleway", sans-serif;
      text-align: center; }
  body section#project .button-grid .grid {
    grid-template-columns: auto; }
    body section#project .button-grid .grid .inner {
      margin: auto; }
      body section#project .button-grid .grid .inner .button {
        grid-column: span 2;
        margin: 0 auto;
        max-width: 90%; }
        body section#project .button-grid .grid .inner .button.project-nav a {
          border: 3px solid #0099CC;
          color: #0099CC; }
          body section#project .button-grid .grid .inner .button.project-nav a:hover {
            border: 3px solid #DDD;
            color: #DDD; }
    body section#project .button-grid .grid a {
      border: 3px solid #DDD;
      color: #DDD; }
      body section#project .button-grid .grid a:hover {
        border: 3px solid #0099CC;
        color: #0099CC; }
body footer {
  border-top: 1px solid #DDD; }
  body footer .social {
    display: grid;
    max-width: 85%;
    margin: 10px auto;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px; }
    body footer .social a {
      padding: 8px;
      width: 100%;
      text-align: center;
      color: #DDD; }
      body footer .social a:hover {
        color: #0099CC; }
      body footer .social a span {
        font-size: 2em; }
  body footer img {
    width: 75px;
    margin: auto;
    display: block;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
    body footer img:hover {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1); }
  body footer p {
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: #0099CC;
    margin: 0;
    padding: 15px; }

@media only screen and (min-width: 450px) and (max-width: 800px) {
  .hidden {
    display: block; }

  body .button a {
    font-size: 1.25em;
    padding: 15px; }
  body header {
    max-width: 85%;
    margin: auto; }
    body header img {
      max-width: 175px;
      padding-top: 60px;
      margin-left: 0; }
    body header h1 {
      max-width: 100%;
      font-size: 3.5em;
      line-height: 1.5em;
      margin: 50px auto 50px auto; }
    body header .button {
      margin: 15px auto;
      max-width: 50%; }
      body header .button a {
        max-width: 100%; }
    body header .chevron a {
      bottom: 10vh; }
      body header .chevron a .fa {
        font-size: 4em; }
    body header#project {
      display: grid;
      grid-template-columns: 50% 50%; }
      body header#project .button {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 60px 15px 0 0; }
      body header#project h1 {
        margin-bottom: 30px;
        grid-column: span 2; }
  body section h2 {
    font-size: 3em; }
  body section h3 {
    font-size: 2.5em; }
  body section p {
    font-size: 1.5em; }
  body section#about {
    max-width: 75%;
    margin: auto; }
    body section#about .grid {
      max-width: 100%; }
    body section#about .dropdown {
      max-width: 100%; }
      body section#about .dropdown .title {
        position: relative; }
        body section#about .dropdown .title h4 {
          font-size: 1.2em; }
        body section#about .dropdown .title h5 {
          font-size: 1em; }
  body section#projects .portfolio .grid {
    max-width: 75%;
    grid-gap: 30px; }
    body section#projects .portfolio .grid .inner .technologies.desktop-only {
      display: none; }
    body section#projects .portfolio .grid .inner .technologies .grid {
      grid-template-columns: auto auto auto auto auto auto; }
      body section#projects .portfolio .grid .inner .technologies .grid .inner {
        font-size: 1.1em;
        padding: 6px; }
    body section#projects .portfolio .grid .button {
      margin: 15px auto;
      max-width: 50%; }
  body section#contact {
    max-width: 75%; }
    body section#contact form input, body section#contact form textarea, body section#contact form button {
      font-size: 1.5em;
      margin-top: 10px; }
  body section#project h2 {
    font-size: 2em; }
  body section#project ul {
    grid-template-columns: auto; }
  body section#project .technologies .grid {
    grid-template-columns: auto auto auto auto auto auto;
    margin-bottom: 20px;
    grid-gap: 5px; }
    body section#project .technologies .grid .inner {
      background-color: #0099CC;
      color: #333;
      font-size: 1.2em;
      padding: 6px; }
  body section#project .image-grid {
    grid-template-columns: auto auto;
    grid-gap: 30px; }
    body section#project .image-grid iframe {
      height: 500px;
      min-width: 400px; }
      body section#project .image-grid iframe.connect-4 {
        height: 543px; }
    body section#project .image-grid figure.span-all {
      margin: auto;
      grid-column: span 2; }
    body section#project .image-grid figure figcaption {
      margin-top: 2px;
      font-size: 1.2em; }
  body section#project .button-grid .grid {
    max-width: 85%;
    grid-template-columns: 50% 50%; }
    body section#project .button-grid .grid .inner {
      margin: auto; }
      body section#project .button-grid .grid .inner .button {
        margin: 0;
        max-width: 100%; }
  body footer .social {
    margin: 20px auto;
    max-width: 75%; }
    body footer .social a {
      font-size: 1.5em; }
  body footer img {
    width: 100px; }
  body footer p {
    font-size: 1.5em;
    padding: 20px; } }
@media only screen and (min-width: 801px) and (max-width: 1200px) {
  .hidden {
    display: block; }

  body .button a {
    font-size: 1.25em;
    padding: 15px; }
  body header {
    max-width: 90%;
    margin: auto; }
    body header img {
      max-width: 150px;
      padding-top: 60px;
      margin-left: 0; }
    body header h1 {
      max-width: 100%;
      font-size: 3.3em;
      line-height: 1.5em;
      margin: 40px auto 50px auto; }
    body header .button {
      margin: 15px auto;
      max-width: 50%; }
      body header .button a {
        max-width: 100%; }
    body header .chevron a {
      bottom: 10vh; }
      body header .chevron a .fa {
        font-size: 4em; }
    body header#project {
      display: grid;
      grid-template-columns: 50% 50%; }
      body header#project .button {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 60px 15px 0 0; }
      body header#project h1 {
        margin-bottom: 30px;
        grid-column: span 2; }
  body section h2 {
    font-size: 3em; }
  body section h3 {
    font-size: 2.5em; }
  body section p {
    font-size: 1.5em; }
  body section#about {
    max-width: 80%;
    margin: auto; }
    body section#about .grid {
      max-width: 100%; }
    body section#about .dropdown {
      max-width: 100%; }
      body section#about .dropdown .title {
        position: relative; }
        body section#about .dropdown .title h4 {
          font-size: 1.2em; }
        body section#about .dropdown .title h5 {
          font-size: 1em; }
  body section#projects .portfolio .grid {
    max-width: 80%;
    grid-gap: 15px;
    grid-template-columns: 49% 49%; }
    body section#projects .portfolio .grid .inner.portfolio {
      grid-column: span 2;
      display: grid;
      grid-template-columns: 50% 50%; }
      body section#projects .portfolio .grid .inner.portfolio h3 {
        grid-column: span 2; }
      body section#projects .portfolio .grid .inner.portfolio .button {
        grid-column: span 2;
        width: 30%; }
      body section#projects .portfolio .grid .inner.portfolio .technologies {
        grid-column: span 2; }
        body section#projects .portfolio .grid .inner.portfolio .technologies .grid {
          grid-template-columns: auto auto auto auto auto auto; }
    body section#projects .portfolio .grid .inner .technologies .grid {
      grid-template-columns: auto auto auto; }
      body section#projects .portfolio .grid .inner .technologies .grid .inner {
        font-size: 1.1em;
        padding: 6px; }
    body section#projects .portfolio .grid .button {
      margin: 15px auto;
      max-width: 60%; }
  body section#contact {
    max-width: 75%; }
    body section#contact form input, body section#contact form textarea, body section#contact form button {
      font-size: 1.5em;
      margin-top: 10px; }
  body section#project h2 {
    font-size: 2em; }
  body section#project ul {
    grid-template-columns: auto auto;
    max-width: 90%;
    margin: auto; }
  body section#project .technologies .grid {
    grid-template-columns: auto auto auto auto auto auto;
    margin-bottom: 20px;
    grid-gap: 5px; }
    body section#project .technologies .grid .inner {
      background-color: #0099CC;
      color: #333;
      font-size: 1.2em;
      padding: 6px; }
  body section#project .image-grid {
    grid-template-columns: auto auto;
    grid-gap: 30px; }
    body section#project .image-grid iframe {
      height: 500px;
      min-width: 400px; }
      body section#project .image-grid iframe.connect-4 {
        height: 543px; }
    body section#project .image-grid .span-all {
      margin: auto;
      grid-column: span 2; }
    body section#project .image-grid figure figcaption {
      margin-top: 2px;
      font-size: 1.2em; }
  body section#project .button-grid .grid {
    max-width: 85%;
    grid-template-columns: 50% 50%; }
    body section#project .button-grid .grid .inner {
      margin: auto; }
      body section#project .button-grid .grid .inner .button {
        margin: 0;
        max-width: 100%; }
  body footer .social {
    margin: 20px auto;
    max-width: 75%; }
    body footer .social a {
      font-size: 1.5em; }
  body footer img {
    width: 100px; }
  body footer p {
    font-size: 1.5em;
    padding: 20px; } }
@media only screen and (min-width: 1201px) and (max-width: 1500px) {
  @keyframes chevron_bounce {
    0% {
      bottom: 5vh; }
    40% {
      bottom: 5vh; }
    60% {
      bottom: 5px; }
    100% {
      bottom: 5vh; } }
  @-webkit-keyframes chevron_bounce {
    0% {
      bottom: 5vh; }
    40% {
      bottom: 5vh; }
    60% {
      bottom: 5px; }
    100% {
      bottom: 5vh; } }
  .hidden {
    display: block; }

  body .button a {
    font-size: 1.25em;
    padding: 10px 30px; }
  body header {
    max-width: 1100px;
    margin: auto; }
    body header img {
      max-width: 125px;
      padding-top: 40px;
      margin-left: 0; }
    body header h1 {
      max-width: 85%;
      font-size: 3em;
      line-height: 1.5em;
      margin: 12vh auto 5vh auto; }
    body header .grid {
      grid-gap: 15px;
      grid-template-columns: auto auto;
      max-width: 60%;
      box-sizing: border-box; }
      body header .grid .button {
        max-width: 100%; }
        body header .grid .button a {
          max-width: 100%; }
    body header .chevron a {
      bottom: 5vh; }
      body header .chevron a .fa {
        font-size: 4em; }
    body header#project {
      display: grid;
      grid-template-columns: 70% 30%; }
      body header#project .button {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 40px 15px 0 0; }
        body header#project .button a {
          font-size: 1.1em; }
      body header#project h1 {
        margin: 15px auto 15px auto;
        grid-column: span 2; }
  body section {
    padding: 40px 0; }
    body section h2 {
      font-size: 3em; }
    body section h3 {
      font-size: 1.5em; }
    body section p {
      font-size: 1.2em; }
    body section#about {
      min-height: 100vh; }
      body section#about.html-bg {
        background: url("../img/HTML_bg_img.png");
        background-repeat: no-repeat; }
      body section#about.css-bg {
        background: url("../img/CSS_bg_img.png");
        background-repeat: no-repeat; }
      body section#about.sass-bg {
        background: url("../img/SASS_bg_img.png");
        background-repeat: no-repeat; }
      body section#about.js-bg {
        background: url("../img/JS_bg_img.png");
        background-repeat: no-repeat; }
      body section#about.php-bg {
        background: url("../img/PHP_bg_img.png");
        background-repeat: no-repeat; }
      body section#about .container {
        display: grid;
        grid-template-columns: 50% 50%;
        max-width: 1100px;
        margin: auto; }
      body section#about h2 {
        grid-column: 1 / 3; }
      body section#about h3 {
        margin: 5px; }
      body section#about .container-inner {
        grid-column: 2 / 3;
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 5px;
        padding: 0; }
      body section#about .grid {
        max-width: 98%;
        grid-template-columns: 25% 25% 25% 25%;
        margin: 0; }
        body section#about .grid .inner {
          padding: 8px 0; }
          body section#about .grid .inner.hover-bg:hover {
            background-color: #DDD;
            color: #0099CC; }
        body section#about .grid .two {
          grid-column: span 2; }
        body section#about .grid .three {
          grid-column: span 3; }
        body section#about .grid #michael_barrows {
          grid-column: span 1;
          max-width: 100%;
          margin: auto; }
      body section#about .dropdown {
        max-width: 100%;
        margin: 0; }
    body section#projects .portfolio .grid {
      max-width: 1100px;
      grid-gap: 15px;
      grid-template-columns: 49% 49%; }
      body section#projects .portfolio .grid .inner.portfolio {
        grid-column: span 2;
        display: grid;
        grid-template-columns: 50% 50%; }
        body section#projects .portfolio .grid .inner.portfolio h3 {
          grid-column: span 2; }
        body section#projects .portfolio .grid .inner.portfolio .button {
          grid-column: span 2;
          width: 25%; }
      body section#projects .portfolio .grid .inner .technologies.mobile-only {
        display: none; }
      body section#projects .portfolio .grid .inner .technologies.desktop-only {
        display: block; }
        body section#projects .portfolio .grid .inner .technologies.desktop-only .grid {
          grid-template-columns: auto auto auto auto auto auto; }
        body section#projects .portfolio .grid .inner .technologies.desktop-only .inner {
          font-size: 0.9em;
          padding: 3px; }
      body section#projects .portfolio .grid .button {
        margin: 0 auto;
        max-width: 50%; }
        body section#projects .portfolio .grid .button a {
          font-size: 1.1em; }
    body section#contact {
      max-width: 1100px; }
      body section#contact form.grid {
        grid-template-columns: auto;
        max-width: 70%;
        margin: auto;
        grid-gap: 20px; }
        body section#contact form.grid input, body section#contact form.grid textarea, body section#contact form.grid button {
          font-size: 1.1em;
          margin: 0;
          padding: 10px; }
    body section#project {
      padding: 0;
      max-width: 950px;
      margin: auto; }
      body section#project h2 {
        font-size: 2em; }
      body section#project ul {
        grid-template-columns: auto auto; }
      body section#project .technologies .grid {
        max-width: 75%;
        grid-template-columns: auto auto auto auto auto auto;
        margin-bottom: 20px;
        grid-gap: 5px; }
        body section#project .technologies .grid .inner {
          background-color: #0099CC;
          color: #333;
          font-size: 0.9em;
          padding: 6px; }
      body section#project .image-grid {
        margin: auto;
        grid-template-columns: auto auto auto;
        grid-gap: 30px; }
        body section#project .image-grid iframe {
          height: 500px;
          min-width: 400px; }
          body section#project .image-grid iframe.connect-4 {
            height: 543px; }
        body section#project .image-grid .span-all {
          margin: auto;
          grid-column: span 3; }
        body section#project .image-grid figure figcaption {
          margin-top: 2px;
          font-size: 1.2em; }
      body section#project .button-grid .grid {
        grid-template-columns: 50% 50%; }
        body section#project .button-grid .grid .inner .button {
          margin: 0;
          max-width: 100%; }
          body section#project .button-grid .grid .inner .button a {
            font-size: 1.1em; }
  body footer .container {
    display: grid;
    max-width: 1100px;
    grid-template-columns: 33% 34% 33%;
    margin: auto;
    padding: 20px 0 20px 0; }
    body footer .container .social {
      max-width: 25%;
      margin-left: 0; }
      body footer .container .social a {
        font-size: 1.1em; }
    body footer .container img {
      width: 75px;
      display: block;
      margin: auto; }
    body footer .container p {
      font-size: 1.1em;
      padding: 20px 0 20px 20px;
      text-align: right;
      vertical-align: middle; } }
@media only screen and (min-width: 1501px) {
  @keyframes chevron_bounce {
    0% {
      bottom: 5vh; }
    40% {
      bottom: 5vh; }
    60% {
      bottom: 5px; }
    100% {
      bottom: 5vh; } }
  @-webkit-keyframes chevron_bounce {
    0% {
      bottom: 5vh; }
    40% {
      bottom: 5vh; }
    60% {
      bottom: 5px; }
    100% {
      bottom: 5vh; } }
  .hidden {
    display: block; }

  body .button a {
    font-size: 1.25em;
    padding: 10px 30px; }
  body header {
    max-width: 1400px;
    margin: auto; }
    body header img {
      max-width: 150px;
      padding-top: 40px;
      margin-left: 0; }
    body header h1 {
      max-width: 75%;
      font-size: 3.5em;
      line-height: 1.5em;
      margin: 20vh auto 50px auto; }
    body header .grid {
      grid-gap: 15px;
      grid-template-columns: 50% 50%;
      max-width: 50%; }
      body header .grid .button {
        max-width: 100%; }
        body header .grid .button a {
          max-width: 100%; }
    body header .chevron a {
      bottom: 5vh; }
      body header .chevron a .fa {
        font-size: 4em; }
    body header#project {
      display: grid;
      grid-template-columns: 70% 30%; }
      body header#project .button {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 45px 15px 0 0; }
        body header#project .button a {
          font-size: 1.1em; }
      body header#project h1 {
        margin: 15px auto 15px auto;
        grid-column: span 2; }
  body section {
    padding: 40px 0; }
    body section h2 {
      font-size: 3em; }
    body section h3 {
      font-size: 1.5em; }
    body section p {
      font-size: 1.2em; }
    body section#about {
      min-height: 100vh; }
      body section#about.html-bg {
        background: url("../img/HTML_bg_img.png");
        background-repeat: no-repeat; }
      body section#about.css-bg {
        background: url("../img/CSS_bg_img.png");
        background-repeat: no-repeat; }
      body section#about.sass-bg {
        background: url("../img/SASS_bg_img.png");
        background-repeat: no-repeat; }
      body section#about.js-bg {
        background: url("../img/JS_bg_img.png");
        background-repeat: no-repeat; }
      body section#about.php-bg {
        background: url("../img/PHP_bg_img.png");
        background-repeat: no-repeat; }
      body section#about .container {
        display: grid;
        grid-template-columns: 50% 50%;
        max-width: 1400px;
        margin: auto; }
      body section#about h2 {
        grid-column: 1 / 3; }
      body section#about h3 {
        margin: 5px; }
      body section#about .container-inner {
        grid-column: 2 / 3;
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 5px;
        padding: 0; }
      body section#about .grid {
        max-width: 98%;
        grid-template-columns: 25% 25% 25% 25%;
        margin: 0; }
        body section#about .grid .inner {
          padding: 8px 0; }
          body section#about .grid .inner.hover-bg:hover {
            background-color: #DDD;
            color: #0099CC; }
        body section#about .grid .two {
          grid-column: span 2; }
        body section#about .grid .three {
          grid-column: span 3; }
        body section#about .grid #michael_barrows {
          grid-column: span 1;
          max-width: 100%;
          margin: auto; }
      body section#about .dropdown {
        max-width: 100%;
        margin: 0; }
    body section#projects .portfolio .grid {
      max-width: 1400px;
      grid-gap: 10px;
      grid-template-columns: 49.5% 49.5%; }
      body section#projects .portfolio .grid .inner.portfolio {
        grid-column: span 2;
        display: grid;
        grid-template-columns: 50% 50%; }
        body section#projects .portfolio .grid .inner.portfolio h3 {
          grid-column: span 2; }
        body section#projects .portfolio .grid .inner.portfolio .button {
          grid-column: span 2;
          width: 25%; }
      body section#projects .portfolio .grid .inner .technologies.mobile-only {
        display: none; }
      body section#projects .portfolio .grid .inner .technologies.desktop-only {
        display: block; }
      body section#projects .portfolio .grid .inner .technologies .grid {
        grid-template-columns: auto auto auto auto auto auto; }
        body section#projects .portfolio .grid .inner .technologies .grid .inner {
          font-size: 0.9em;
          padding: 3px;
          vertical-align: center; }
      body section#projects .portfolio .grid .button {
        margin: 0 auto;
        max-width: 50%; }
        body section#projects .portfolio .grid .button a {
          font-size: 1.1em; }
    body section#contact {
      max-width: 1400px; }
      body section#contact form.grid {
        max-width: 70%;
        grid-template-columns: auto;
        grid-gap: 20px; }
        body section#contact form.grid input, body section#contact form.grid textarea, body section#contact form.grid button {
          font-size: 1.1em;
          margin: 0;
          padding: 10px; }
    body section#project {
      padding: 0;
      max-width: 1150px;
      margin: auto; }
      body section#project h2 {
        font-size: 2em; }
      body section#project ul {
        grid-template-columns: auto auto;
        max-width: 90%;
        margin: auto; }
      body section#project .technologies .grid {
        max-width: 75%;
        grid-template-columns: auto auto auto auto auto auto;
        margin-bottom: 20px;
        grid-gap: 5px; }
        body section#project .technologies .grid .inner {
          background-color: #0099CC;
          color: #333;
          font-size: 0.9em;
          padding: 6px; }
      body section#project .image-grid {
        grid-template-columns: auto auto auto;
        grid-gap: 30px; }
        body section#project .image-grid iframe {
          height: 500px;
          min-width: 400px; }
          body section#project .image-grid iframe.connect-4 {
            height: 543px; }
        body section#project .image-grid .span-all {
          margin: auto;
          grid-column: span 3; }
        body section#project .image-grid figure figcaption {
          margin-top: 2px;
          font-size: 1.2em; }
      body section#project .button-grid .grid {
        max-width: 1400px;
        grid-template-columns: 50% 50%; }
        body section#project .button-grid .grid .inner {
          margin: auto; }
          body section#project .button-grid .grid .inner .button {
            margin: 0;
            max-width: 100%; }
            body section#project .button-grid .grid .inner .button a {
              font-size: 1.1em; }
  body footer .container {
    display: grid;
    max-width: 1400px;
    grid-template-columns: 33% 34% 33%;
    margin: auto;
    padding: 20px 0 20px 0; }
    body footer .container .social {
      max-width: 25%;
      margin-left: 0; }
      body footer .container .social a {
        font-size: 1.1em; }
    body footer .container img {
      width: 75px;
      display: block;
      margin: auto; }
    body footer .container p {
      font-size: 1.1em;
      padding: 20px 0 20px 20px;
      text-align: right;
      vertical-align: middle; } }

/*# sourceMappingURL=styles.css.map */
