RewriteEngine On

RewriteRule ^projects/grade-calculator/$ gradecalc.html [L]
RewriteRule ^projects/currency-converter/$ currencyconverter.html [L]
RewriteRule ^projects/html-email/$ htmlemail.html [L]
RewriteRule ^projects/portfolio/$ portfolio.html [L]
